<!DOCTYPE html>
<html>
<% var holdInfoDate; %>
<% var holdInfoErrorState; %>
<% var holdInfoState; %>
<% var holdInfoTotalPositiveCases; %>
<% var holdInfoTotalNegativeCases; %>
<% var holdInfoCitizensHospitalized; %>
<% var holdInfoCitizensICU; %>
<% var holdInfoCitizensOnVentilator; %>
<% var holdInfoCitizensDeaths; %>
<% var holdInfoCitizensDeathsIncreaseToday; %>
<head>
    <meta charset="utf-8">
    <title>State COVID Tracker</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172831212-1"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/9b847e0830.js"></script>
</head>
<body>
<div class="container">
    <center>
        <h1>COVID-19 State Cases Tracker</h1>
        <p1>Enter a State (i.e. Illinois or IL) and click "See Information" to learn about the current COVID-19 Situation in your state.</p1>
    </center>
    <fieldset>
        <form action="/" method="post">
            <input list = "states-list" id="stateInput" name="city" type="text" class="ghost-input" placeholder="Enter a State (i.e. Illinois or IL)" required>
            <datalist id="states-list">
                <option value="Alabama">Alabama</option>
                <option value="Alaska">Alaska</option>
                <option value="Arizona">Arizona</option>
                <option value="Arkansas">Arkansas</option>
                <option value="California">California</option>
                <option value="Colorado">Colorado</option>
                <option value="Connecticut">Connecticut</option>
                <option value="Delaware">Delaware</option>
                <option value="District Of Columbia">District Of Columbia</option>
                <option value="Florida">Florida</option>
                <option value="Georgia">Georgia</option>
                <option value="Hawaii">Hawaii</option>
                <option value="Idaho">Idaho</option>
                <option value="Illinois">Illinois</option>
                <option value="Indiana">Indiana</option>
                <option value="Iowa">Iowa</option>
                <option value="Kansas">Kansas</option>
                <option value="Kentucky">Kentucky</option>
                <option value="Louisiana">Louisiana</option>
                <option value="Maine">Maine</option>
                <option value="Maryland">Maryland</option>
                <option value="Massachusetts">Massachusetts</option>
                <option value="Michigan">Michigan</option>
                <option value="Minnesota">Minnesota</option>
                <option value="Mississippi">Mississippi</option>
                <option value="Missouri">Missouri</option>
                <option value="Montana">Montana</option>
                <option value="Nebraska">Nebraska</option>
                <option value="Nevada">Nevada</option>
                <option value="New Hampshire">New Hampshire</option>
                <option value="New Jersey">New Jersey</option>
                <option value="New Mexico">New Mexico</option>
                <option value="New York">New York</option>
                <option value="North Carolina">North Carolina</option>
                <option value="North Dakota">North Dakota</option>
                <option value="Ohio">Ohio</option>
                <option value="Oklahoma">Oklahoma</option>
                <option value="Oregon">Oregon</option>
                <option value="Pennsylvania">Pennsylvania</option>
                <option value="Rhode Island">Rhode Island</option>
                <option value="South Carolina">South Carolina</option>
                <option value="South Dakota">South Dakota</option>
                <option value="Tennessee">Tennessee</option>
                <option value="Texas">Texas</option>
                <option value="Utah">Utah</option>
                <option value="Vermont">Vermont</option>
                <option value="Virginia">Virginia</option>
                <option value="Washington">Washington</option>
                <option value="West Virginia">West Virginia</option>
                <option value="Wisconsin">Wisconsin</option>
                <option value="Wyoming">Wyoming</option>
            </datalist>
            <input type="submit" class="ghost-button" value="See Information">
        </form>
        <center>
        <h3><%= holdInfoDate %></h3>
        </center>
        <% if(holdInfoErrorState != null){ %>
            <p><%= holdInfoErrorState %></p>
        <% } %>
        <% if(holdInfoState != null){ %>
            <p>State:  <%= holdInfoState %></p>
        <% } %>
        <% if(holdInfoTotalPositiveCases != null){ %>
            <p>Total Positive Cases: <%= holdInfoTotalPositiveCases %></p>
        <% } %>
        <% if(holdInfoTotalNegativeCases != null){ %>
            <p>Total Negative Cases: <%= holdInfoTotalNegativeCases %></p>
        <% } %>
        <% if(holdInfoCitizensHospitalized != null){ %>
            <p>Citizens Hospitalized Currently: <%= holdInfoCitizensHospitalized %></p>
        <% } %>
        <% if(holdInfoCitizensICU != null){ %>
            <p>Citizens in ICU Currently: <%= holdInfoCitizensICU %></p>
        <% } %>
        <% if(holdInfoCitizensOnVentilator != null){ %>
            <p>Citizens on Ventilator Currently: <%= holdInfoCitizensOnVentilator %></p>
        <% } %>
        <% if(holdInfoCitizensDeaths != null){ %>
            <p>Confirmed Citizens Deaths: <%= holdInfoCitizensDeaths %></p>
        <% } %>
        <% if(holdInfoCitizensDeathsIncreaseToday != null){ %>
            <p>Citizens Deaths Increase Today: <%= holdInfoCitizensDeathsIncreaseToday %></p>
        <% } %>


    </fieldset>

    <button style="text-align: center" type="button" class="collapsible"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> FAQ <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></button>
    <div class="content">
        <p>
        <ul>
            <li><b>1. </b>Why Did I Make This?
                <ul>
                    There are many resources online where you can dig for the information my tracker displays, however, it takes up much more valuable time. Hence, I made this state tracker to get quick facts regarding the COVID-19 situation in your state.
                </ul>
            </li>
            <li><b>2. </b>How Many States Are Supported?
                <ul>
                    56 U.S. States (Including Territories like the American Samoa)
                </ul>
            </li>
            <li><b>3. </b>How Was This Built?
                <ul>
                    I used Node.js for the backend along with a COVID-19 up to date API, and HTML/CSS/Additional Javascript.
                </ul>
            </li>
            <li><b>4. </b>What is the Future of this Web App?
                <ul>
                    In the future, I plan on implementing a way to see information on countries and states, together.
                </ul>
            </li>
            <li><b>5. </b>Is this a Free Service?
                <ul>
                    YES! I plan on keeping this service free as it is a helpful tool in today's society!
                </ul>
            </li>

        </ul>
        </p>
    </div>
</div>
<center>
    <br>
<footer>©Copyright <a href="https://rayaansiddiqi.com" target="_blank"><b>Rayaan Siddiqi</b></a> </footer>
</center>
</body>
</html>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
    <!-- Global site tag (gtag.js) - Google Analytics -->

    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-172831212-1');

</script>